argon2-cffi==20.1.0
asgiref==3.3.1
astroid==2.3.3
async-generator==1.10
attrs==20.3.0
autopep8==1.5.1
backcall==0.2.0
bleach==3.3.0
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
colorama==0.4.3
cryptography==3.4.6
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
Django==3.0.7
django-cleanup==4.0.0
django-crispy-forms==1.8.0
django-widget-tweaks==1.4.8
entrypoints==0.3
et-xmlfile==1.0.1
idna==2.8
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==4.3.21
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.4.0
mccabe==0.6.1
mistune==0.8.4
mysqlclient==1.4.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
notebook==6.3.0
numpy==1.20.1
oauthlib==3.1.0
openpyxl==3.0.7
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.1
pickleshare==0.7.5
Pillow==6.2.1
plotly==4.14.3
prometheus-client==0.9.0
prompt-toolkit==3.0.18
pycodestyle==2.5.0
pycparser==2.20
Pygments==2.8.1
PyJWT==2.0.0
pylint==2.4.4
PyMySQL==1.0.2
pyodbc==4.0.30
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python2==1.2
python3-openid==3.1.0
pytz==2019.3
pywin32==300
pywinpty==0.5.7
pyzmq==22.0.3
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
scipy==1.6.2
seaborn==0.11.1
Send2Trash==1.5.0
six==1.13.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
terminado==0.9.3
testpath==0.4.4
tornado==6.1
traitlets==5.0.5
urllib3==1.25.7
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
xlrd==2.0.1
